* {
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: inline-block;
    padding-left: 1rem;
}

p{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
}

.header, .footer, .text-header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo{
    font-weight: 900;
    font-size: 24px;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.section1{
    display: flex;
    align-items: center;
    background-color: #1F2937;  
    padding: 5rem 10rem;
}

.text-header{
    font-size: 48px;
    font-weight: 900;
}

.right-nav, .subsection1 > p{
    font-size: 18px;
    color: #E5E7EB;
}

.section1 > img{
    max-width: 600px;
    min-width: 400px;
    flex: 1 auto;
    margin: 0 auto;
}

.subsection1{
    max-width: 500px;
}

.subsection1 *{
    margin-bottom: 0.5rem;
}

.signup-button{
    text-align: center;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 8px 24px;
    font-weight: 900;
}